<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">

    <title>keithbarrette.net</title>

    <link rel="stylesheet" href="/css/style.css">
  </head>

  <body>
    <div class="content">
      {{ content }}
    </div>

    <div class="footer">
      {% if page.version %}
        <div>Version {{ page.version }}</div>
      {% endif %}

      {% if page.copyright %}
        <div>&copy; Copyright {{ page.copyright }} Keith Barrette</div>
      {% endif %}
    </div>
  </body>
</html>
